.slider__wrap {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    position: relative;
    display: flex;
    transition: .5s;
}

.slider__item {
    flex-basis: 100%;
    flex-shrink: 0;
    text-align: center;
}

.description {
    font-size: 18px;
    text-align: center;
    color: red;
    font-weight: bold;
    position: absolute;
    bottom: 8px;
    width: 100%;
}

.img {
    height: 500px;
}

.num {
    position: absolute;
    color: red;
    padding: 20px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: red;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    transition: 0.6s ease;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 20%;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, .2);
}

.next {
    right: 0;
}

.dots {
    text-align: center;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease;
    margin: 0 5px;
}

.active, .dot:hover {
    background-color: #717171;
}

.slaider_fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.s-notransition {
    transition: 0s;
}
